In [1]:
import pandas as pd
import re

In [2]:
# Load CSV paragraph
df_data_paragraph = pd.read_csv('material_book_2_paragraph.csv')

# Load CSV other
df_data_table = pd.read_csv('material_book_2_other.csv')

In [3]:
# Check variation data paragraph
# If we see from atribute "style_left", there are a lot of variation and it's count. 
# There are top 10 of it's variation
# df_data_paragraph.style_left.value_counts().nlargest(10)

In [4]:
# Check variation data paragraph
# Combination of "style_left" and "style_hanging"
# df_data_paragraph.groupby(['style_left', 'style_hanging']).size().nlargest(10)

## Search format of announcement in text

In [5]:
# Heading 1
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Kata Pengantar")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
0,text,Kata Pengantar,[],[],[],[],[],[]

In [6]:
# Paragraph
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Tak terasa, kita sudah akan kembali menapaki Masa Adven-Natal 2020. Kita bersyukur meski di tengah pandemi covid-19 seperti ini, kita masih diperkenan Tuhan untuk memersiapkan umat-Nya merayakan Adven-Natal. Kiranya buku ini membantu dan atau memberi inspirasi Ibu/Bapak/Saudara sehingga semarak dan sukacita Adven-Natal tetap dapat kita rasakan di tengah pandemi.")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
1,text,"Tak terasa, kita sudah akan kembali menapaki M...",[],[],[],[],[],[]

In [7]:
# Paragraph
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("mengucapkan terima kasih yang sebesar-besarnya kepada:")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
3,text,Buku ini dapat terwujud sedemikian rupa karena...,[],[],[],[],[],[]

In [8]:
# Points
# asdasdasdasdasdasdasdasdasdasd
#   1. Point-1
#   2. Point-2
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Andreas")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
4,text,Pdt. Andreas Untung Wiyono (GKJ Tanjung Priok ...,CT_Ind,426,426,numPr,0,1

In [9]:
# Independent Sentence

# asdasdasdasdasdasd(Example Paragraph)
# 
# Independent Sentence
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains(". Murtini Hehanussa")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
22,text,Pdt. Murtini Hehanussa,[],[],[],[],[],[]

In [10]:
# List of contents
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Masa Adven 1")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
28,text,Masa Adven 1 [29 November 2020]\t11,CT_Ind,360,[],[],[],[]
41,text,Masa Adven 1 [29 November 2020]\t127,CT_Ind,360,[],[],[],[]

In [11]:
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Hal tersebut bukan hendak mengajak umat untuk menyerang agama lain, namun ")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
75,text,Hal tersebut bukan hendak mengajak umat untuk ...,[],[],[],[],[],[]

In [12]:
# Heading 2
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Firman Allah Menjadi Manusia?")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
2,text,Masa Adven-Natal 2020 ini sengaja mengambil te...,[],[],[],[],[],[]
80,text,Buku Masa Adven Natal ini tentu akan memberi f...,[],[],[],[],[],[]
81,text,Firman Allah Menjadi Manusia?,[],[],[],[],[],[]
102,text,Penting untuk selalu menempatkan tema khotbah ...,CT_Ind,[],[],[],[],[]
129,text,"MAN 2020 dibingkai dengan tema besar, ""Firman ...",CT_Ind,0,[],[],[],[]
2608,text,Keluarga-keluarga diundang untuk membuat nasi ...,CT_Ind,284,[],[],[],[]
2613,text,Diharapkan kegiatan ini menjadi jembatan komun...,CT_Ind,284,[],[],[],[]
2615,text,Tiap anak Sekolah Minggu kelas Balita dan kela...,CT_Ind,284,[],[],[],[]
2616,text,Untuk anak yang lebih besar diundang untuk men...,CT_Ind,284,[],[],[],[]
2621,text,Bagi anak-anak SMP diundang untuk mengikuti lo...,CT_Ind,284,[],[],[],[]

In [13]:
# Bahan Kotbah awal
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Penting untuk selalu menempatkan tema khotbah ibadah Minggu dalam bingkai")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
102,text,Penting untuk selalu menempatkan tema khotbah ...,CT_Ind,[],[],[],[],[]

In [14]:
# Bahan Kotbah dua
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Bagian ini berisi pengakuan dan permohonan. ")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
106,text,"Bagian ini berisi pengakuan dan permohonan. ""K...",CT_Ind,[],[],[],[],[]

In [15]:
# Points pada khotbah dua
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Kesadaran jati diri manusia di hadapan Pencipta yang membawa pada sikap hormat dan takut ")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
120,text,1.\tKesadaran jati diri manusia di hadapan Pen...,CT_Ind,426,426,[],[],[]

In [16]:
# Sermon are always placed after "Elongated Sermons"

In [17]:
# PL Liturgi #1 ( There is "PL" in value )
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Jemaat yang dikasihi Tuhan. Bersama gereja ")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
586,text,PL:\t\tJemaat yang dikasihi Tuhan. Bersama ger...,CT_Ind,567,567,[],[],[]

In [18]:
# PL Liturgi #2 ( There is "PL" in value )
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Pertolongan kita adalah di dalam nama Tuhan ")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
599,text,PF:\t\tPertolongan kita adalah di dalam nama T...,CT_Ind,567,567,[],[],[]
1945,text,PF:\t\tPertolongan kita adalah di dalam nama T...,CT_Ind,709,709,[],[],[]

## Search format of worship lyrics in text

In [19]:
# Worshop marker #1
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("(Menyanyikan KJ 76:1-2)")]

C:\Users\Lukas_K\anaconda3\envs\gpu_py_3_7\lib\site-packages\ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
594,text,U:\t\t(Menyanyikan KJ 76:1-2),CT_Ind,567,567,[],[],[]

In [20]:
# Worship Tittle #1
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Kau Yang Lama Dinantikan")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
595,text,Kau Yang Lama Dinantikan,CT_Ind,567,[],[],[],[]

In [21]:
# Worship lyrics #1.1
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Kau yang lama dinantikan")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
596,text,"1)\tKau yang lama dinantikan, Jurus'lamat, dat...",CT_Ind,851,284,[],[],[]
2432,text,"Kau yang lama dinantikan, Jurus'lamat datanglah,",CT_Ind,993,567,numPr,0,55

In [22]:
# Worship lyrics #1.2
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Raja mulia, Kau ")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
597,text,"2)\tRaja mulia, Kau lahir bagai anak yang lemb...",CT_Ind,851,284,[],[],[]
2436,text,"Raja mulia, Kau lahir bagai anak yang lembut,",CT_Ind,993,567,numPr,0,55

In [23]:
# Worship title #2
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Hai Orang Yang Beriman")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
605,text,Hai Orang Yang Beriman,CT_Ind,567,[],[],[],[]

In [24]:
# Worship marker #2

In [25]:
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("(Menyanyikan NKB 52:1,3)")]

C:\Users\Lukas_K\anaconda3\envs\gpu_py_3_7\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
604,text,"U:\t\t(Menyanyikan NKB 52:1,3)",CT_Ind,567,567,[],[],[]

In [26]:
# Worship title #2
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Hai Orang Yang Beriman")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
605,text,Hai Orang Yang Beriman,CT_Ind,567,[],[],[],[]

In [27]:
# Worship lyrics #2
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Hai orang yang beriman, tetap waspadalah!")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
606,text,"1)\tHai orang yang beriman, tetap waspadalah!\...",CT_Ind,851,284,[],[],[]

In [28]:
# Worship marker #3
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("(Menyanyikan KJ 29:1, dengan penyesuaian)")]

C:\Users\Lukas_K\anaconda3\envs\gpu_py_3_7\lib\site-packages\ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
610,text,"U:\t\t(Menyanyikan KJ 29:1, dengan penyesuaian)",CT_Ind,567,567,[],[],[]

In [29]:
# Worship title #3
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Di Hadapan Tuhan Yesus")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
611,text,Di Hadapan Tuhan Yesus,CT_Ind,540,[],[],[],[]
616,text,Di Hadapan Tuhan Yesus,CT_Ind,540,[],[],[],[]
621,text,Di Hadapan Tuhan Yesus,CT_Ind,540,[],[],[],[]

In [30]:
# Worship lyrics #3
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("dapan Tuhan Yesus betapa hina diriku")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
612,text,Di 'dapan Tuhan Yesus betapa hina diriku.,CT_Ind,540,[],[],[],[]

In [31]:
# Worship marker #4
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Nyanyian Syukur")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
629,text,Nyanyian Syukur (Berdiri),[],[],[],[],[],[]

In [32]:
# Worship title #4
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Jika kita mau menanggalkan ")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
249,text,Jika kita mau menanggalkan ambisi itu dengan k...,CT_Ind,[],[],[],[],[]

In [33]:
# Worship lyrics #4
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Yesusku Jurus")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
632,text,"Yesusku Jurus'lamatku, Tuhanku, Mukhalisku",CT_Ind,567,27,[],[],[]

In [34]:
# Worship marker #5
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Cip. Pdt. Juswantori Ichwan/Wesley Tulus")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
660,text,"U:\t\t(Menyanyikan ""Doa Bapa Kami"" Cip. Pdt. J...",CT_Ind,567,567,[],[],[]

In [35]:
# Worship lyric #5
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Bapa kami yang ada di sorg")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
661,text,Bapa kami yang ada di sorga,CT_Ind,567,[],[],[],[]

In [36]:
# Worship lyric #5
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Persembahkan dirimu untuk Tuhan ")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
682,text,3)\tPersembahkan dirimu untuk Tuhan pakai\raga...,CT_Ind,851,284,[],[],[]
2029,text,Persembahkan dirimu untuk Tuhan pakai\ragar ke...,CT_Ind,360,[],[],[],[]

## Search format of Prayer in text

In [37]:
# Prayer marker #1
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Pengakuan Dosa")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
608,text,Pengakuan Dosa,[],[],[],[],[],[]

In [38]:
# Prayer content #1
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Siapakah kami ini ya Tuhan sehingga Kau anggap ")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
609,text,PL:\t\tSiapakah kami ini ya Tuhan sehingga Kau...,CT_Ind,567,567,[],[],[]
614,text,PL:\t\tSiapakah kami ini ya Tuhan sehingga Kau...,CT_Ind,567,567,[],[],[]

In [39]:
# Prayer content #2
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Siapakah kami ini ya Tuhan sehingga Kau anggap layak duduk di")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
609,text,PL:\t\tSiapakah kami ini ya Tuhan sehingga Kau...,CT_Ind,567,567,[],[],[]
614,text,PL:\t\tSiapakah kami ini ya Tuhan sehingga Kau...,CT_Ind,567,567,[],[],[]

In [40]:
# Non Prayer content
# Same with prayer content
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Jemaat yang dikasihi Tuhan. Bersama ")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
586,text,PL:\t\tJemaat yang dikasihi Tuhan. Bersama ger...,CT_Ind,567,567,[],[],[]

In [41]:
# priest's confession
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Untuk gereja-gereja yang sudah terbiasa")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
656,text,M:\t\t(Untuk gereja-gereja yang sudah terbiasa...,CT_Ind,567,567,[],[],[]

In [42]:
# Prayer ( There is "PF" )
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Memanjatkan doa syafaat,")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
659,text,"PF:\t\t(Memanjatkan doa syafaat, diakhiri deng...",CT_Ind,567,567,[],[],[]

## Search format of The Sermon in text

In [43]:
# Ayat memiliki pola (ReGex bisa diimplementasikan untuk mendeteksi ini)
# isi ayat.....(kitabnya)

In [44]:
# There is '"..."' and Verse (Lukas 10:1)
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Yesaya 11:10")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
588,text,Lilin pertama simbol pengharapan. Seperti sabd...,CT_Ind,567,[],[],[],[]

In [45]:
# The verse fragments in the sermon need to be checked manually

## Data Labeling 
1. announcment
2. prayer
3. sermon
4. worships

isVerse (True), jika ada verse pada paragraph

In [46]:
df_data_paragraph_backup = df_data_paragraph.copy()

## == Page 0-84 ==

### Announcement

#### Type1  - style.left=[] and style.hanging=[]
Memisahkan shermon dengan announcement dengan melihat pola urutan "KHOTBAH JANGKEP" dengan penanda "[AWi]"

In [47]:
df_data_paragraph_announcement_1 = df_data_paragraph.loc[
                                                         (df_data_paragraph.style_left=="[]")&
                                                         (df_data_paragraph.style_hanging=="[]")
                                                         ].copy()
df_data_paragraph_announcement_1.shape

(1080, 8)

In [48]:
# Marker of start shermon
marker_start_shermon = df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.str.contains("KHOTBAH")]

In [49]:
# Marker of End Shermon
marker_end_shermon = df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.apply(lambda x: bool(re.match("^\[\w{1,3}\s*\w{1,3}]$", x)))]

In [50]:
# Get shermon using two marker
# Logic :
"""
KHOTBAH JANGKEP (marker start)

Shermon containt....


[AWi] (marker end)
"""

# we need to remove those area.

'\nKHOTBAH JANGKEP (marker start)\n\nShermon containt....\n\n\n[AWi] (marker end)\n'

In [51]:
container_marker=[]
for index_marker_start in marker_start_shermon.index:
    container_start_end_marker=[]
    container_start_end_marker.append(index_marker_start)
    for index_marker_end in marker_end_shermon.index:
        if index_marker_end>index_marker_start:
            container_start_end_marker.append(index_marker_end)
            break
    container_marker.append(container_start_end_marker)

In [52]:
# Remove shermon from announcement
for marker_shermon in container_marker:
    df_first_section = df_data_paragraph_announcement_1.loc[:marker_shermon[0]-1]
    df_second_section = df_data_paragraph_announcement_1.loc[marker_shermon[1]+1:]
    df_data_paragraph_announcement_1 = pd.concat([df_first_section,df_second_section])

In [53]:
# Check, okay
df_data_paragraph_announcement_1.loc[123:150]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
123,text,BERITA YANG MAU DISAMPAIKAN,[],[],[],[],[],[]
142,text,DASAR PEMIKIRAN,[],[],[],[],[],[]
143,text,Memersiapkan sesuatu yang penting di dalam keh...,CT_Ind,[],[],[],[],[]
144,text,Kedatangan Tuhan di kehidupan umat manusia mer...,CT_Ind,[],[],[],[],[]
145,text,PENJELASAN TEKS,[],[],[],[],[],[]
146,text,Yesaya 40:1-11,[],[],[],[],[],[]
147,text,Bagian ini merupakan pengantar dari seluruh De...,CT_Ind,[],[],[],[],[]
148,text,Pembebasan itu dipandang sebagai penyataan kas...,CT_Ind,[],[],[],[],[]
149,text,Kabar gembira itu dikumandangkan di padang gur...,CT_Ind,[],[],[],[],[]
150,text,"Mazmur 85:1-2, 8-13",[],[],[],[],[],[]

In [54]:
# We loose 169 rows (1080-911) 
df_data_paragraph_announcement_1.shape

(911, 8)

In [55]:
# Marked Verse from Announcement
"""
Gema tentang janji Tuhan inilah yang juga terus diajarkan kepada umat Israel. 
Setidaknya melalui nyanyian pengajaran Etan, orang Ezrahi (Mazmur 89). 
Disebutkan bahwa Untuk selama-lamanya Aku hendak menegakkan anak cucumu, 
dan membangun takhtamu turun-temurun 

There is verse inside that. so it need to be marked
"""

'\nGema tentang janji Tuhan inilah yang juga terus diajarkan kepada umat Israel. \nSetidaknya melalui nyanyian pengajaran Etan, orang Ezrahi (Mazmur 89). \nDisebutkan bahwa Untuk selama-lamanya Aku hendak menegakkan anak cucumu, \ndan membangun takhtamu turun-temurun \n\nThere is verse inside that. so it need to be marked\n'

In [56]:
# Verse type1 
"""
 asdasdasdasdasd Firman Allah Menjadi Manusia (Yoh. 1:14). asdasdasdasdasd
"""
marker_verse1 = df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.apply(lambda x: bool(re.match(".*\".+\"\s*\(\d*\s*\w+.{0,1} \d+:{0,1}\d+-{0,1}\d*\).*",x)))]
marker_verse1.index

Int64Index([80, 102, 106, 107, 109, 115, 209, 211, 212, 285, 383, 495, 1209,
            2268],
           dtype='int64')

In [57]:
# Verse tipe2
"""
 Yoh. 1:14 menulis, Firman itu telah menjadi manusia dan diam di antara kita. 
"""
marker_verse2 = df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.apply(lambda x: bool(re.match(".*\w{3,11}.{0,1} \d+:\d*.*\".+\"\s*.*",x)))].iloc[:-2]
marker_verse2.index

Int64Index([83, 88, 91, 107, 284, 309, 320, 321, 377, 383, 392, 393, 433, 474,
            499],
           dtype='int64')

In [58]:
# Append marker_verse1 and marker_verse2
marker_verse1_2 = []
for index1 in marker_verse1.index:
    if index1 not in marker_verse1_2:
        marker_verse1_2.append(index1)
for index2 in marker_verse2.index:
    if index2 not in marker_verse1_2:
        marker_verse1_2.append(index2)
len(marker_verse1_2)

27

In [59]:
# Verse tipe3
"""
 "Bangkitlah, menjadi teranglah, sebab terangmu datang dan kemuliaan TUHAN terbit atasmu!" 
  Itulah kalimat pembuka penggugah semangat yang diberikan TUHAN melalui Yesaya 60 
"""
marker_verse3  =df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.apply(lambda x: bool(re.match(".*\".+\".*\w{3,10}.{0,1} \d+:{0,1}\d*.*",x)))].iloc[:-2]
marker_verse3.index

Int64Index([  80,   90,  102,  106,  107,  109,  115,  203,  283,  285,  309,
             321,  322,  352,  383,  433,  457,  491,  495, 1209],
           dtype='int64')

In [60]:
# Append marker_verse1_2 and marker_verse_3
marker_index1_2_3 = []
for index1_2 in marker_verse1_2:
    if index1_2 not in marker_index1_2_3:
        marker_index1_2_3.append(index1_2)
for index3 in marker_verse3.index:
    if index3 not in marker_index1_2_3:
        if index3 in [352,283]: # this list from manually checked
            marker_index1_2_3.append(index3)

In [61]:
# To marked verse in announcement, we add coloum isVerse. 
"""
 If it has value True then it has verse inside it.
"""
df_data_paragraph_announcement_1['isVerse']="False"
for index_verse in marker_index1_2_3:
    df_data_paragraph_announcement_1.loc[index_verse, "isVerse"] = "True"

In [62]:
# Check, okay
df_data_paragraph_announcement_1.loc[83:84]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id,isVerse
83,text,Yoh. 1:14-16 yang menjadi tema Masa Adven-Nata...,[],[],[],[],[],[],True
84,text,"Di dalam pengertian yang seperti itu, 'Firman ...",[],[],[],[],[],[],False

In [63]:
# There are text not fully read by Simplify
# Some Text even not read at all
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Tanya yang muncul ketika banyak berjumpa ")].VALUE.values

array(["Tanya yang muncul ketika banyak berjumpa dengan pemeluk agama lain adalah sesuatu yang wajar. Ini terjadi karena selama ini ada 'jurang' yang dalam terutama di kalangan Islam-Kristen. Jurang itu tercipta akibat sejarah kelam masa lalu, di antaranya adalah perang salib"],
      dtype=object)

In [64]:
# complete #1 
df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.str.contains("Tanya yang muncul ketika banyak berjumpa"),'VALUE']= """Tanya yang muncul ketika banyak berjumpa dengan pemeluk agama lain adalah sesuatu yang wajar. Ini terjadi karena selama ini ada 'jurang yang dalam terutama di kalangan Islam-Kristen. Jurang itu tercipta akibat sejarah kelam masa lalu, di antaranya adalah perang salib  dan sejarah islamisasi-vs-kristenisasi pada jaman penjajah . Semua itu menjadi titik tolak munculnya prasangka-prasangka sampai saat ini. Salah satu prasangka tersebut adalah anggapan bahwa agama Kristen adalah \"agama penjajah\".  Prasangka-prasangka tersebut perlu diudhar atau didialogkan pada masa kini agar kerukunan terjadi antar umat beragama di Indonesia, secara khusus Islam-Kristen."""

In [65]:
# Add text that not read at all by Simplify #1

df_data_paragraph_announcement_1.loc[max(df_data_paragraph.index)+1] = ["text","""Perang salib terjadi selama 2 abad, yaitu abad 11-13 atau tahun 1096-1291. (Lihat: Th. van den End & Christian de Jonge, Sejarah Perjumpaan Gereja dan Islam, Jakarta: UPI STT Jakarta, 1997, hal. 72.) Perang ini terjadi antara orang Kristen Eropa dan umat Islam di Timur Tengah. Dinamakan perang salib karena pasukan Kristen pada saat itu menggunakan tanda salib sebagai panji-panji perang. (Lihat: Melvi Yendra, Mira Rainayati, Ensiklopedia untuk Anak-anak Muslim, Bandung: Pustaka Oasis, 2007, hal. 46). Dalam pengalaman penulis mengunjungi beberapa pondok pesantren didapati bahwa Sejarah Perang Salib ini menjadi salah satu topik sejarah yang dipelajari oleh para santri. Sejarah mencatat bahwa di sepanjang abad 15 dan 16 terjadi balapan antara Islamisasi dan Kristenisasi di Nusantara. (Lihat:  Waleed El-Ansary, David L. Linnan, Siti Ruhaini Dzuhayatin, Paripurna P. Sugarda, Harkristuti Harkrisnowo (Ed.), Kata Bersama: Antara Muslim dan Kristen, Yogyakarta: Gajah Mada Unibersity Press, 2019, hal. 142). \"Pada saat itu 'perbenturan' kaum Muslim dengan kekuatan-kekuatan kolonial Eropa sejak dari Portugis, Spanyol, sampai Belanda meningkatkan eksklusivisme Islam. Kedatangan Belanda yang mencakup juga para misionaris Kristen turut mendorong terjadinya konsolidasi dan bahkan intensifikasi identitas Islam. Steenbrink (1995) mengungkapkan dengan baik sekali tentang konflik, mispersepsi, bias dan sebagainya, yang berkembang di kalangan penguasa kolonialis Belanda dan misionaris Kristen terhadap Islam. Semua ini, bisa diduga, tidak kondusif bagi penciptaan kehidupan keagamaan yang rukun, harmonis, saling respek dan penuh toleransi.\" (Lihat: Ibid, hal. 143) \"Perjumpaan umat beragama di Indonesia dilatarbelakangi oleh kondisi sosial-politik. Agama Kristen yang datang ke Indonesia bersamaan dengan datangnya para penjajah (Portugis dan Belanda), meski di beberapa tempat tidak demikian, menyebabkan agama Kristen sering diidentikkan atau dianggap sebagai 'agama penjajah'.\"" (Lihat: Chris Hartono, Perjumpaan Gereja di Indonesia dengan dunianya yang sedang berubah, Jakarta: Persetia, 1995, hal. 132) Idi Subandy dan Bachruddin Ali Akhmad, Komunikasi dan Komodifikasi: Mengkaji Media dan Budaya dalam Dinamika Globalisasi, Jakarta: Yayasan Pustaka Obor Indonesia, 2014, hal. 137""","penambahan", "[]", "[]", "[]", "[]","[]", "False"]

In [66]:
# complete #2
print(df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.str.contains("Yoh. 1:14-16 yang menjadi tema Masa Adven")].VALUE.values)
df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.str.contains("Yoh. 1:14-16 yang menjadi tema Masa Adven"),'VALUE']="""Yoh. 1:14-16 yang menjadi tema Masa Adven-Natal ini dapat menjadi salah satu alternatif jawab atas pertanyaan-pertanyaan semacam itu. Yoh. 1:14 menulis, \"Firman itu telah menjadi manusia dan diam di antara kita\". Artinya, Allah menjelma menjadi manusia melalui firman-Nya. Firman Allah itu adalah Allah sendiri tetapi dalam kodrat ilahi-Nya.  Jadi, yang turun menjadi manusia itu adalah firman Allah, bukan wujud Allah. Kita tidak boleh membayangkan Allah sebagai perwujudan seperti kita manusia. \"Sebab Tuhan adalah Roh; dan di mana ada Roh Allah, di situ ada kemerdekaan\" (2 Kor. 3:17). \"Allah adalah Roh dan barangsiapa menyembah Dia, harus menyembah- Nya dalam roh dan kebenaran\" (Yoh. 4:24). Di dalam pengertian yang seperti itu, 'Firman menjadi manusia' tidak berarti bahwa Firman kemudian kehilangan seluruh atau sebagian keilahian-Nya. \"Inkarnasi tidak pernah mengubah Firman, baik itu sebelum maupun sesudah inkarnasi. Firman menjadi manusia memiliki pengertian bahwa Firman telah mengambil hakikat manusia tanpa mengalami perubahan.\" """

['Yoh. 1:14-16 yang menjadi tema Masa Adven-Natal ini dapat menjadi salah satu alternatif jawab atas pertanyaan-pertanyaan semacam itu. Yoh. 1:14 menulis, "Firman itu telah menjadi manusia dan diam di antara kita". Artinya, Allah menjelma menjadi manusia melalui firman-Nya. Firman Allah itu adalah Allah sendiri tetapi dalam kodrat ilahi-Nya.']

In [67]:
# complete #3
print(df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.str.contains("Di dalam dialog antar iman dengan umat")].VALUE.values)
df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.str.contains("Di dalam dialog antar iman dengan umat"),"VALUE"]="""Di dalam dialog antar iman dengan umat beragama lain kita dapat menerangkan inkarnasi Allah dengan cara seperti itu. Dengan demikian diharapkan ada pemahaman yang dimengerti bersama antara umat Islam dan Kristen. Ada jembatan untuk saling memahami satu sama lain.  Mengapa? Karena menurut ajaran Islam, Firman Allah turun atau menjelma menjadi kitab (Al Qur'an). Sedangkan dalam iman Kristen, Firman Allah turun atau menjelma menjadi manusia dalam diri Yesus Kristus.  Ia adalah kalimatullah.  Baik Islam maupun Kristen memahami bahwa manusia diselamatkan karena mematuhi Firman Allah itu."""

['Di dalam dialog antar iman dengan umat beragama lain kita dapat menerangkan inkarnasi Allah dengan cara seperti itu. Dengan demikian diharapkan ada pemahaman yang dimengerti bersama antara umat Islam dan Kristen. Ada jembatan untuk saling memahami satu sama lain.']

In [68]:
# Add text that not read at all by Simplify #2
df_data_paragraph_announcement_1.loc[max(df_data_paragraph.index)+2] = ["text","""Rifai, Superioritas Kristus dalam Kitab Ibrani: Mengungkap Kitab Ibrani, Sukoharjo: BornWin's Publishing, 2012, hal. 215. Witness Lee, Ekonomi Perjanjian Baru Allah (1), Yayasan Perpustakaan injil Indonesia (Yasperin), 2019. \"Dialog seperti itu tentu diharapkan mendapat tempat yang penting di masa yang akan datang dalam kaitan dengan hubungan antara Islam dan Kristen, yang banyak menjanjikan hal-hal yang kreatif dan konstruktif bagi semua.\" (Pieternella van Doorn-Harder, Kees de jong, Djaka Soetapa (Ed.) Lima Titik Temu Agama-agama, Yogyakarta: Duta Wacana University Press, 2000, hal. 520).""","penambahan", "[]", "[]", "[]", "[]","[]", "False"]

In [69]:
# Add text that not read at all by Simplify #3
df_data_paragraph_announcement_1.loc[max(df_data_paragraph.index)+3] = ["text","""\"Askari mengusulkan agar kita melihat peran Yesus Kristus sebagai 'tanda bersama' antara Islam dan kristen. Ia menggambarkan Yesus sebagai sosok yang memiliki peran yang sama dengan Qur'an atau Firman Allah yang 'berbicara' dengan manusia.\" (Nicolas Jonathan Woly, Perjumpaan di Serambi Iman: Suatu Studi tentang Pandangan para teolog Muslim dan Kristen mengenai hubungan antaragama, Jakarta: BPK Gunung Mulia, 2008, hal. 519). Pieternella van Doorn-Harder, hal. 38. ""","penambahan", "[]", "[]", "[]", "[]","[]", "False"]

In [70]:
# Add text that not read at all by Simplify #4
df_data_paragraph_announcement_1.loc[max(df_data_paragraph.index)+4] = ["text","""Bedanya, kita percaya bahwa orang diselamatkan bukan karena memiliki Kitab Suci, tetapi karena memiliki Yesus Kristus, Sang Firman yang menjadi manusia (Yoh. 3:16), yang disaksikan di dalam Alkitab. \"Alkitab memang juga adalah firman Allah, namun bukan dalam pengertian Firman yang diturunkan dari sorga dengan cara didiktekan kata demi kata.\" (Harun Hadiwijono, Kebatinan dan Injil, Jakarta: Gunung Mulia, 2006, hal. 141.). Alkitab tidak sejajar dengan Tuhan Yesus Kristus. (Harun Hadiwiyono, Inilah Sahadatku, Jakarta: BPK Gunung Mulia, 2006, hal. 20). Eddy Kristiyanto, Spiritualitas Sosial: suatu Kajian Kontekstual, Yogyakarta: Kanisius, 2010, hal. 145. Bahasa Yunani yang dipakai untuk kata \"Manusia\" dalam Yoh 1:14 adalah sark (daging). Maksudnya Firman itu mengambil rupa manusia bagi diri-Nya sendiri. Yesus Kristus memiliki kemanusiaan-Nya 100%, tetapi tanpa dosa. Roma 8:3 menuliskan \"Kristus datang dalam daging, serupa dengan daging yang dikuasai dosa karena dosa\".""","penambahan", "[]", "[]", "[]", "[]","[]", "True"]

In [71]:
# complete #4
print(df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.str.contains("Melalui kehadiran Yesus Kristus yang ")].VALUE.values)
df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.str.contains("Melalui kehadiran Yesus Kristus yang "),"VALUE"]="""Melalui kehadiran Yesus Kristus yang historis kemuliaan Allah (hadiran ilahi) dapat dirasakan (Yoh. 1:14). Allah dapat dijumpai oleh manusia. Allah bukan sesuatu yang abstrak dan bersifat ide. Ia nyata.  \"Di dalam Kristus Yesus, 'jati diri' yang sesungguhnya dari Allah didekatkan kepada manusia (Yoh 1:18).\"  Manusia dapat mengenali seperti apakah Allah itu sebenarnya. Yesus adalah cahaya kemuliaan Allah dan gambar wujud Allah (Ibr. 1:3). Dengan demikian kecenderungan manusia untuk menciptakan konsep sendiri tentang Allah dapat dihindari."""

['Melalui kehadiran Yesus Kristus yang historis kemuliaan Allah (hadiran ilahi) dapat dirasakan (Yoh. 1:14). Allah dapat dijumpai oleh manusia. Allah bukan sesuatu yang abstrak dan bersifat ide. Ia nyata.  "Di dalam Kristus Yesus, \'jati diri\' yang sesungguhnya dari Allah didekatkan kepada manusia (Yoh 1:18)."']

In [72]:
# There are some data with style_left=0 that are announcement.
announcement_marker_style_left_0 = df_data_paragraph.loc[df_data_paragraph.style_left=="0"].iloc[0:3].index
for index_marker in announcement_marker_style_left_0:
    df_1=df_data_paragraph_announcement_1.loc[:index_marker-1]
    df_2=df_data_paragraph.loc[index_marker:index_marker]
    df_3=df_data_paragraph_announcement_1.loc[index_marker+1:]
    df_data_paragraph_announcement_1=pd.concat([df_1,df_2,df_3])

In [73]:
df_data_paragraph_announcement_1.loc[92:92]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id,isVerse
92,text,Melalui Yesus Kristus jarak antara Allah dan m...,CT_Ind,0,[],[],[],[],NaN

In [74]:
# Complete #5
df_data_paragraph_announcement_1.loc[92] = df_data_paragraph.loc[92]
df_data_paragraph_announcement_1.iloc[len(df_data_paragraph_announcement_1.index)-1:len(df_data_paragraph_announcement_1.index)]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id,isVerse
2628,text,"Bedanya, kita percaya bahwa orang diselamatkan...",penambahan,[],[],[],[],[],True

In [75]:
# Final announcement 1-65 (checked)
df_data_paragraph_announcement_1_65 = df_data_paragraph_announcement_1.copy()

In [76]:
# Penanda musik bisa pakai "F0AF"
df_data_paragraph_announcement_1.loc[df_data_paragraph_announcement_1.VALUE.str.contains("KJ 64")]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id,isVerse
1664,text,F0AF\t\tKJ 64 BILA KULIHAT BINTANG GEMERLAPAN,[],[],[],[],[],[],False

###  Verse

In [77]:
df_marked_1_verse_1_65 = df_data_paragraph_announcement_1_65.loc[df_data_paragraph_announcement_1_65.isVerse=="True"].copy()
df_marked_1_verse_1_65.shape

(30, 9)

### Shermon

In [78]:
df_marked_1_shermon_1_65 = df_data_paragraph.loc[df_data_paragraph.style_left=="0"].loc[128:139]

In [79]:
df_marked_1_shermon_1_65=df_marked_1_shermon_1_65.iloc[0:1].copy()

In [80]:
for index_marker_shermon in container_marker:
    df_shermon = df_data_paragraph.loc[index_marker_shermon[0]:index_marker_shermon[1]]
    df_marked_1_shermon_1_65 = pd.concat([df_marked_1_shermon_1_65,df_shermon])

In [81]:
df_marked_1_shermon_1_65 = df_marked_1_shermon_1_65.loc[126:].copy()

### Worship

In [82]:
# Addtion 1
df_marked_1_worship_1_65 = df_data_paragraph.loc[df_data_paragraph.style_left=="567"].iloc[:3]

### Prayer

In [83]:
"""---"""

'---'

## == Page 127- 188 ==

### Worship

In [84]:
# Addtion 1
marker_worship_1 = df_data_paragraph.loc[1055:1062].copy()
df_marked_1_worship_127_188 = marker_worship_1.copy()

In [85]:
# Addition 2
marker_worship_2 = df_data_paragraph.loc[661:673].copy()
df_marked_2_worship_127_188  = marker_worship_2.copy()

In [86]:
# Addition 3
marker_worship_3 = df_data_paragraph.loc[(df_data_paragraph.style_left=="851")&(df_data_paragraph.style_hanging=="284")].loc[:695].copy()
df_marked_3_worship_127_188  = marker_worship_3.copy()

In [87]:
# Addition 4
marker_worship_4 = df_data_paragraph.loc[631:639].copy()
df_marked_4_worship_127_188  = marker_worship_4.copy()

### Prayer

In [88]:
# Addition 1
marke_prayer_1 = df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Siapakah kami ini ya Tuhan sehingga Kau anggap")].copy()
df_marked_1_prayer_127_188 = marke_prayer_1.copy()

In [89]:
# Addition 2
marke_prayer_2 = df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Seperti sabda-Mu, saat Anak Manusia datang ")].copy()
df_marked_2_prayer_127_188 = marke_prayer_2.copy()

In [90]:
# Addition 3
marke_prayer_3 = df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Kabulkanlah doa kami ya Tuhan")].copy()
df_marked_3_prayer_127_188 = marke_prayer_3.copy()

### Announcement

In [91]:
# There is poem ( this area will be marked )
poem_1 = df_data_paragraph.loc[(df_data_paragraph.style_left=='567')&(df_data_paragraph.style_hanging=='567')].loc[1239:1269].copy()
df_marked_1_poem_127_188 = poem_1.copy()

In [92]:
# Index data except announcement
index_another_announcement = []
index_another_announcement.extend(marker_worship_1.index)
index_another_announcement.extend(marker_worship_2.index)
index_another_announcement.extend(marker_worship_3.index)
index_another_announcement.extend(marker_worship_4.index)
index_another_announcement.extend(marke_prayer_1.index)
index_another_announcement.extend(marke_prayer_2.index)
index_another_announcement.extend(marke_prayer_3.index)
index_another_announcement.extend(poem_1.index)

In [93]:
# Data except announcement
# df_data_paragraph.loc[df_data_paragraph.index.to_series().apply(lambda x: x in index_another_announcement)]

In [94]:
# Get another row except announcement
df_data_announcement_2_127_188 = df_data_paragraph.loc[(df_data_paragraph.style_left=='567')].loc[500:750].copy()
for index_non_announcement in index_another_announcement:
    df_1 = df_data_announcement_2_127_188.loc[:index_non_announcement-1]
    df_2 = df_data_announcement_2_127_188.loc[index_non_announcement+1:]
    list_type = []
    list_type.extend(df_data_announcement_2_127_188.index)
#     if int(index_non_announcement) not in list_type:
#         print((index_non_announcement))
    df_data_announcement_2_127_188 = pd.concat([df_1,df_2])
df_data_announcement_2_127_188

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
586,text,PL:\t\tJemaat yang dikasihi Tuhan. Bersama ger...,CT_Ind,567,567,[],[],[]
587,text,(Penyalaan Lilin Adven-1 diiringi instrumental...,CT_Ind,567,[],[],[],[]
588,text,Lilin pertama simbol pengharapan. Seperti sabd...,CT_Ind,567,[],[],[],[]
589,text,Minggu Adven-1 ini mengingatkan kita akan keda...,CT_Ind,567,[],[],[],[]
590,text,"""Semoga Allah, sumber pengharapan, memenuhi ka...",CT_Ind,567,[],[],[],[]
591,text,"(PL menyalakan lilin adven-1, dilanjutkan meng...",CT_Ind,567,[],[],[],[]
594,text,U:\t\t(Menyanyikan KJ 76:1-2),CT_Ind,567,567,[],[],[]
595,text,Kau Yang Lama Dinantikan,CT_Ind,567,[],[],[],[]
599,text,PF:\t\tPertolongan kita adalah di dalam nama T...,CT_Ind,567,567,[],[],[]
600,text,U:\t\tAMIN.,CT_Ind,567,567,[],[],[]
601,text,PF:\t\tKasih karunia dan damai sejahtera menye...,CT_Ind,567,567,[],[],[]
602,text,U:\t\tDAN MENYERTAI SAUDARA JUGA.,CT_Ind,567,567,[],[],[]
604,text,"U:\t\t(Menyanyikan NKB 52:1,3)",CT_Ind,567,567,[],[],[]
605,text,Hai Orang Yang Beriman,CT_Ind,567,[],[],[],[]
610,text,"U:\t\t(Menyanyikan KJ 29:1, dengan penyesuaian)",CT_Ind,567,567,[],[],[]
615,text,"U:\t\t(Menyanyikan KJ 29:2, dengan penyesuaian)",CT_Ind,567,567,[],[],[]
620,text,"U:\t\t(Menyanyikan KJ 29:3, dengan penyesuaian)",CT_Ind,567,567,[],[],[]
625,text,"PF:\t\t""Semoga Allah damai sejahtera mengudusk...",CT_Ind,567,567,[],[],[]
626,text,U:\t\tSyukur kepada Allah.,CT_Ind,567,567,[],[],[]
627,text,"PF:\t\t""Berbahagialah orang yang diampuni pela...",CT_Ind,567,567,[],[],[]
628,text,U:\t\tAmin.,CT_Ind,567,567,[],[],[]
630,text,U:\t\t(Menyanyikan PKJ 202),CT_Ind,567,567,[],[],[]
642,text,PF:\t\t(Memanjatkan doa memohon pimpinan Roh K...,CT_Ind,567,567,[],[],[]
644,text,"L:\t\t(Membaca Yesaya 64:1-9, diakhiri dengan ...",CT_Ind,567,567,[],[],[]
645,text,U:\t\tSYUKUR KEPADA ALLAH,CT_Ind,567,567,[],[],[]
646,text,"L:\t\t(Membaca/melantunkan Mazmur 80:1-7, 17-1...",CT_Ind,567,567,[],[],[]
647,text,"L:\t\t(Membaca 1 Korintus 1:3-9, diakhiri deng...",CT_Ind,567,567,[],[],[]
648,text,U:\t\tSYUKUR KEPADA ALLAH,CT_Ind,567,567,[],[],[]
649,text,PF:\t\t(Jemaat dimohon berdiri),CT_Ind,567,567,[],[],[]
650,text,Inilah Injil Yesus Kristus menurut Markus 13:2...,CT_Ind,567,[],[],[],[]
651,text,"U:\t\t(Menyanyikan) ""MARANATA! 3X""",CT_Ind,567,567,[],[],[]
653,text,"PF:\t\t(Menyampaikan khotbah dengan tema, ""Ber...",CT_Ind,567,567,[],[],[]
656,text,M:\t\t(Untuk gereja-gereja yang sudah terbiasa...,CT_Ind,567,567,[],[],[]
657,text,U:\t\tAKU PERCAYA ... (DST).,CT_Ind,567,567,[],[],[]
660,text,"U:\t\t(Menyanyikan ""Doa Bapa Kami"" Cip. Pdt. J...",CT_Ind,567,567,[],[],[]
675,text,M:\t\tMarilah kita menyatakan syukur kepada Tu...,CT_Ind,567,567,[],[],[]
676,text,"""Dan biarlah kamu juga dipergunakan sebagai ba...",CT_Ind,567,[],[],[],[]
677,text,"U:\t\t(Menyanyikan PKJ 146:1,3)",CT_Ind,567,567,[],[],[]
678,text,Bawa Persembahanmu,CT_Ind,567,[],[],[],[]
684,text,M:\t\t(Memanjatkan doa syukur/persembahan),CT_Ind,567,567,[],[],[]
686,text,M:\t\t(Membaca Warta Jemaat yang penting),CT_Ind,567,567,[],[],[]
688,text,M:\t\tMarilah kita akhiri ibadah ini dengan me...,CT_Ind,567,567,[],[],[]
689,text,"U:\t\t(Menyanyikan PKJ 60: 1,4)",CT_Ind,567,567,[],[],[]
690,text,Hai Umat Manusia,CT_Ind,567,[],[],[],[]
699,text,PF:\t\tArahkanlah hatimu kepada Tuhan dan pand...,CT_Ind,567,567,[],[],[]
700,text,U:\t\tKAMI MENGARAHKAN HATI KEPADA TUHAN DAN M...,CT_Ind,567,567,[],[],[]
701,text,PF:\t\tJadilah saksi Kristus!,CT_Ind,567,567,[],[],[]
702,text,U:\t\tKAMI SIAP MENJADI SAKSI-NYA.,CT_Ind,567,567,[],[],[]
703,text,"PF:\t\tTerpujilah Tuhan,",CT_Ind,567,567,[],[],[]
704,text,U:\t\tKINI DAN SELAMANYA!,CT_Ind,567,567,[],[],[]
706,text,PF:\t\tTerimalah berkat Tuhan!,CT_Ind,567,567,[],[],[]
707,text,"""TUHAN memberkati engkau dan melindungi engkau...",CT_Ind,567,[],[],[],[]
708,text,U:\t\t(Menyanyikan) MARANATA! 5X. AMIN 3X.,CT_Ind,567,567,[],[],[]

### Verse

In [95]:
# Addition 1
verse_marked_1 = df_data_announcement_2_127_188.loc[df_data_announcement_2_127_188.VALUE.apply(lambda x: bool(re.match(".*\".+\"\s*\(.*\d*\s*\w+.{0,1} \d+:{0,1}\d+-{0,1}\d*\.*\).*",x)))].copy()
df_marked_1_verse_127_188 = verse_marked_1.copy()

In [96]:
# Addition 2
verse_marked_2 = df_data_announcement_2_127_188.loc[df_data_announcement_2_127_188.VALUE.apply(lambda x: bool(re.match(".*\w{3,11}.{0,1} \d+:\d*.*\".{50,900}\"\s*.*",x)))].copy()
df_marked_2_verse_127_188 = verse_marked_2.copy()

### Shermon

In [97]:
"""---"""

'---'

### 157-189

In [98]:
df_data_announcement_3_157_189 = df_data_paragraph.loc[820:].copy()

### Worship

In [99]:
# Addition 1
worship_marked_1_157_189 = df_data_announcement_3_157_189.loc[(df_data_announcement_3_157_189.style_left=='540')&
                                   (df_data_announcement_3_157_189.style_hanging=='[]')].iloc[2:].copy()
df_marked_1_worship_157_188 = worship_marked_1_157_189.copy()

In [100]:
# Addition 2
worship_marked_2_157_189 = df_data_announcement_3_157_189.loc[(df_data_announcement_3_157_189.style_left=='567')&
                                   (df_data_announcement_3_157_189.style_hanging=='283')].copy()
worship_marked_2_157_189 = worship_marked_2_157_189.loc[worship_marked_2_157_189.index.to_series().apply(lambda x :x not in [1294]) ]
df_marked_2_worship_157_188 = worship_marked_2_157_189.copy()

In [101]:
# Addition 3
worship_marked_3_157_189 = df_data_announcement_3_157_189.loc[(df_data_announcement_3_157_189.style_left=='720')&
                                   (df_data_announcement_3_157_189.style_hanging=='[]')].copy()
# 1018 bukan worship
# 1110 bukan worship
# 981-984 bukan worship
# 2043-2046 bukan worship
# 2115-2118 bukan worship
# 2257-2258 bukan worship
# 2325-2341 bukan worship
# 2352-2363 bukan worship
list_index_not_worship3 = [981,982,983,984,1018,1110,2043,2044,2045,2046,2257,2258,2325,2326,2338.2339,2340,2341,2352,2383]
worship_marked_3_157_189 = worship_marked_3_157_189.loc[worship_marked_3_157_189.index.to_series().apply(lambda x: x not in list_index_not_worship3)]
df_marked_3_worship_157_188 = worship_marked_3_157_189.copy()

In [102]:
# Addition 4
worship_marked_4_157_189 = df_data_announcement_3_157_189.loc[(df_data_announcement_3_157_189.style_left=='1440')&
                                   (df_data_announcement_3_157_189.style_hanging=='[]')].copy()
df_marked_4_worship_157_188 = worship_marked_4_157_189.copy()

In [103]:
# Addition 5
worship_marked_5_157_189 = df_data_announcement_3_157_189.loc[1183:1185].copy()
df_marked_5_worship_157_188 = worship_marked_5_157_189.copy()

In [104]:
# Addition 6
worship_marked_6_157_189 = df_data_announcement_3_157_189.loc[(df_data_announcement_3_157_189.style_left=='426')&
                                   (df_data_announcement_3_157_189.style_hanging=='[]')].loc[:1637].copy()
df_marked_6_worship_157_188 = worship_marked_6_157_189.copy()

In [105]:
# Merge all index
list_index_worship_157_189 = []
list_index_worship_157_189.extend(worship_marked_1_157_189.index)
list_index_worship_157_189.extend(worship_marked_2_157_189.index)
list_index_worship_157_189.extend(worship_marked_3_157_189.index)
list_index_worship_157_189.extend(worship_marked_4_157_189.index)
list_index_worship_157_189.extend(worship_marked_5_157_189.index)
list_index_worship_157_189.extend(worship_marked_6_157_189.index)

### Verse

In [106]:
# Addition 1
verse_marked_1_157_189 = df_data_announcement_3_157_189.loc[df_data_announcement_3_157_189.VALUE.apply(lambda x: bool(re.match(".*\".+\"\s*\(.*\d*\s*\w+.{0,1} \d+:{0,1}\d+-{0,1}\d*\.*\).*",x)))].copy()
#1203 is not verse
df_marked_1_verse_157_188 = verse_marked_1_157_189.copy()

In [107]:
# Addition 2
verse_marked_2_157_189 = df_data_announcement_3_157_189.loc[df_data_announcement_3_157_189.VALUE.apply(lambda x: bool(re.match(".*\w{3,11}.{0,1} \d+:\d*.*\".{50,900}\"\s*.*",x)))].copy()
df_marked_2_verse_157_188 = verse_marked_2_157_189.copy()

In [108]:
# Merge all index
list_index_verse_157_189=[]
list_index_verse_157_189.extend(verse_marked_1_157_189.index)
list_index_verse_157_189.extend(verse_marked_2_157_189.index)
list_index_verse_157_189 = list(set(list_index_verse_157_189))

### Prayer

In [109]:
# Addition 1
paryer_marker_1_157_189 = df_data_paragraph.loc[857:868].copy()
df_marked_1_prayer_157_188 = paryer_marker_1_157_189.copy()

In [110]:
# Addition 2
paryer_marker_2_157_189 = df_data_paragraph.loc[[1037,1065,1294,1328]].copy()
df_marked_2_prayer_157_188 = paryer_marker_2_157_189.copy()

In [111]:
# Merge all index
list_index_marker_157_189=[]
list_index_marker_157_189.extend(paryer_marker_1_157_189.index)
list_index_marker_157_189.extend(paryer_marker_2_157_189.index)

### Announcement

In [112]:
# index not announcement
list_index_not_announcement = []
list_index_not_announcement.extend(list_index_marker_157_189)
list_index_not_announcement.extend(list_index_worship_157_189)

In [113]:
df_data_announcement_3_157_189 = df_data_announcement_3_157_189.loc[df_data_announcement_3_157_189.index.to_series().apply(lambda x: x not in list_index_not_announcement)].copy()

In [114]:
# Index for verse

### 247-253

### Worship
sudah tersimpan di worship sebelumnya

In [115]:
# Bukti kecil
df_data_worship_247 = df_data_paragraph.loc[df_data_paragraph.index.to_series().apply(lambda x: x in list_index_worship_157_189)]
df_marked_1_worship_247_253 = df_data_worship_247.copy()

### Shermon

In [116]:
shermon_marked_1_247_253 = df_data_announcement_3_157_189.loc[2265:2279].copy()
df_marked_1_shermon_247_253 = shermon_marked_1_247_253.copy()

### 259-265

In [117]:
df_data_announcement_3_157_189.loc[df_data_announcement_3_157_189.VALUE.str.contains('Katakan, Tuhan')]

,TYPE,VALUE,style_type,style_left,style_hanging,numPr_type,numPr_ilvl,numPr_id
2327,text,"Katakan, Tuhan itu satu",CT_Ind,0,[],[],[],[]
2329,text,"Katakan, Tuhan itu satu",CT_Ind,0,[],[],[],[]

### Worship

In [118]:
worship_marked_1_259_265 = df_data_announcement_3_157_189.loc[2327:].iloc[:11].copy()
df_marked_1_worship_259_265 = worship_marked_1_259_265.copy()

### 271-275

### Worship

In [119]:
worhsip_marked_1_271_275 = df_data_paragraph.loc[(df_data_paragraph.style_left=="720")&
                     (df_data_paragraph.style_hanging=="360")
                     ].copy()
df_marked_1_worship_271_275 = worhsip_marked_1_271_275.copy()

### Prayer

In [120]:
prayer_marked_1_271_275 = df_data_paragraph.loc[(df_data_paragraph.style_left=="1985")&
                     (df_data_paragraph.style_hanging=="1625")
                     ].copy()
df_marked_1_prayer_271_275 = prayer_marked_1_271_275.copy()

### 275-279

### Worship

In [121]:
worship_marked_1_275_279 = df_data_paragraph.loc[(df_data_paragraph.style_left=="993")&
                                                (df_data_paragraph.style_hanging=="273")
                                                ].copy()
df_marked_1_worship_275_279 = worship_marked_1_275_279.copy()

In [122]:
worship_marked_2_275_279 = df_data_paragraph.loc[(df_data_paragraph.style_left=="993")&
                                                (df_data_paragraph.style_hanging=="567")
                                                ].copy()
df_marked_2_worship_275_279 = worship_marked_2_275_279.copy()

In [123]:
worship_marked_3_275_279 = df_data_paragraph.loc[2443:2449].copy()
df_marked_3_worship_275_279 = worship_marked_3_275_279.copy()

In [124]:
worship_marked_4_275_279 = df_data_paragraph.loc[2454:2458].copy()
df_marked_4_worship_275_279 = worship_marked_4_275_279.copy()

### Shermon

In [125]:
worship_shermon_1_275_279 = df_data_paragraph.loc[2460:2465].copy()

df_marked_1_shermon_275_279 = worship_shermon_1_275_279.copy()

### 289-294

### Addtion sentence

In [126]:
# Addition 1
df_data_paragraph_announcement_289_294 = df_data_paragraph.loc[2580:2602].copy()
df_data_paragraph_announcement_289_294.iloc[3:4,df_data_paragraph_announcement_289_294.columns.get_loc('VALUE')]= df_data_paragraph_announcement_289_294.iloc[3:4].VALUE.values[0]+" membagi manusia menjadi tiga kelompok atau golongan. Pertama, homo homini lupus, manusia menjadi serigala atas sesamanya. Di sini kita menghadirkan diri sebagai manusia yang bersifat seperti serigala yang selalu ingin unggul dengan cara licik, licin, kejam, buas, dan beringas."

In [127]:
# Addition 2
df_data_paragraph_announcement_289_294.iloc[7:8,df_data_paragraph_announcement_289_294.columns.get_loc('VALUE')]= df_data_paragraph_announcement_289_294.iloc[7:8].VALUE.values[0]+" \"Firman itu telah menjadi manu-sia dan diam di antara kita\" (Yoh. 1:14). Pada peristiwa Natal, Allah yang ada di surga turun ke dunia untuk menjelma menjadi seorang sesama manusia."

In [128]:
# Addition 3
df_data_paragraph_announcement_289_294.iloc[12:13,df_data_paragraph_announcement_289_294.columns.get_loc('VALUE')]= df_data_paragraph_announcement_289_294.iloc[12:13].VALUE.values[0]+" Justru karena pentingnya kehidupan bersama dengan liyan itu, kita perlu belajar dari Yesus. Dalam terjemahan BIMK disebutkan kita perlu belajar \"berjiwa seperti Yesus Kristus\" (Fil. 2:5). Hal inilah yang oleh Bernard Hring diyakini sebagai makna terdalam pada hakikat manusia. Makna terdalam pribadi manusia, demikian tegas Hring, bisa ditemukan di dalam Yesus Kristus. Kristus adalah Seorang Manusia dan di dalam Dia kita mendapatkan kepenuhan kemanusiaan kita."

In [129]:
# Addition 4
df_data_paragraph_announcement_289_294.iloc[13:14,df_data_paragraph_announcement_289_294.columns.get_loc('VALUE')]= df_data_paragraph_announcement_289_294.iloc[13:14].VALUE.values[0]+" Dengan mengosongkan diri, peristiwa kenosis Yesus memberi setidaknya tiga pelajaran. Pertama, melepaskan hak milik-Nya, yaitu kesetaraan dengan Allah. Kedua, menciutkan diri atau membatasi kepentingan diri-Nya demi kebaikan yang lain, yaitu saat Kristus memilih membatasi keilahian-Nya untuk menjadi sama dengan manusia dan mengambil rupa seorang budak. Ketiga, menjadi seorang-bagi-yang lain, yaitu saat Yesus sebagai subjek berjumpa dengan yang lain dan dipanggil untuk bertanggung jawab bagi yang lain, tanpa menuntut balas atau untuk mendapatkan keuntungan"

In [130]:
# Addition 5
df_data_paragraph_announcement_289_294.iloc[16:17,df_data_paragraph_announcement_289_294.columns.get_loc('VALUE')]= df_data_paragraph_announcement_289_294.iloc[16:17].VALUE.values[0]+" Itulah yang dilakukan Yesus sepanjang hidup-Nya sebagai manusia di bumi ini. "

In [131]:
# Addition 6
df_data_paragraph_announcement_289_294.iloc[18:19,df_data_paragraph_announcement_289_294.columns.get_loc('VALUE')]= df_data_paragraph_announcement_289_294.iloc[18:19].VALUE.values[0]+" Mengutip Jodi Magness seorang pakar Yudaisme mula-mula, yang mengatakan bahwa Yesus hidup di tengah lingkungan kehidupan yang tidak mudah, lingkungan yang kotor, berbau, dan tidak sehat. Lebih lanjut dikatakan, kasus flu yang mematikan menjadi epidemi berbahaya saat itu. Namun Yesus justru \"turun\" ke jalan-jalan. Bagi Yesus, mereka yang sekarat dan sakit bukanlah orang lain, melainkan sahabat-Nya. Bagi merekalah Yesus rela berkorban"

### Verse

In [132]:
# Type1
verse_marked_1_289 = df_data_paragraph_announcement_289_294.loc[df_data_paragraph_announcement_289_294.VALUE.apply(lambda x: bool(re.match('.*\".+\"\s*\(.*\d*\s*\w+.{0,1} \d+:{0,1}\d+-{0,1}\d*\.*\).*',x)))].loc[2580:].copy()
df_marked_1_verse_289_294 = verse_marked_1_289.copy()

In [133]:
# Type2
verse_marked_2_289 = df_data_paragraph_announcement_289_294.loc[df_data_paragraph_announcement_289_294.VALUE.apply(lambda x: bool(re.match('.*\w{3,11}.{0,1} \d+:\d*.*\".{50,900}\"\s*.*',x)))].copy()
df_marked_2_verse_289_294 = verse_marked_2_289.copy()

In [134]:
### Merge
list_verse_289 =[]
list_verse_289.extend(verse_marked_1_289)
list_verse_289.extend(verse_marked_2_289)

### Shermon

In [135]:
df_data_shermon_289 = df_data_paragraph_announcement_289_294.loc[df_data_paragraph_announcement_289_294.index.to_series().apply(lambda x : x not in list_verse_289)].iloc[:-3].copy()
df_marked_1_shermon_289_294 = df_data_shermon_289.copy()

## Data table

### Worship

In [136]:
# Addition 1
marker_music_1 = df_data_table.loc[df_data_table.VALUE.apply(lambda x: bool(re.match(".*\[\d+\].*",x)))].copy()
df_table_marked_1_worship = marker_music_1.copy()

### Verse

In [137]:
df_data_announcement_2_table = df_data_table.loc[df_data_table.VALUE.apply(lambda x: x not in marker_music_1.VALUE.values)].copy()

In [138]:
# Addition 1
verse_marked_1_table = df_data_announcement_2_table.loc[df_data_announcement_2_table.VALUE.apply(lambda x: bool(re.match(".*\w{3,11}.{0,1} \d+:\d*.*\".{50,900}\"\s*.*",x)))].copy()
df_table_marked_1_verse = verse_marked_1_table.copy()

### Prayer

In [139]:
df_table_marked_1_prayer = df_data_announcement_2_table.loc[df_data_announcement_2_table.VALUE.str.contains("Tuhan, kami  sibuk menghitung ")]

In [140]:
df_table_marked_2_prayer = df_data_announcement_2_table.loc[df_data_announcement_2_table.VALUE.str.contains("Kami menantikan ")]

In [141]:
df_table_marked_3_prayer = df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Ya Tuhan, berbagai pengalaman kehidupan ")]

# Fix Book 2

In [142]:
df_data_paragraph_backup = df_data_paragraph.copy()

In [143]:
df_data_paragraph = df_data_paragraph_backup.copy()

In [144]:
df_data_paragraph['idGenre'] ="1"

In [145]:
df_data_paragraph['isVerse']="False"

## Paragraph

In [146]:
# Verse
index_all_verses = []
index_all_verses.extend(df_marked_1_verse_1_65.index)

index_all_verses.extend(df_marked_1_verse_127_188.index)
index_all_verses.extend(df_marked_2_verse_127_188.index)

index_all_verses.extend(df_marked_1_verse_157_188.index)
index_all_verses.extend(df_marked_2_verse_157_188.index)

index_all_verses.extend(df_marked_1_verse_289_294.index)
index_all_verses.extend(df_marked_2_verse_289_294.index)

In [147]:
# worship
index_all_worship = []

index_all_worship.extend(df_marked_1_worship_1_65.index)

index_all_worship.extend(df_marked_1_worship_127_188.index)
index_all_worship.extend(df_marked_2_worship_127_188.index)
index_all_worship.extend(df_marked_3_worship_127_188.index)
index_all_worship.extend(df_marked_4_worship_127_188.index)

index_all_worship.extend(df_marked_1_worship_157_188.index)
index_all_worship.extend(df_marked_2_worship_157_188.index)
index_all_worship.extend(df_marked_3_worship_157_188.index)
index_all_worship.extend(df_marked_4_worship_157_188.index)
index_all_worship.extend(df_marked_5_worship_157_188.index)

index_all_worship.extend(df_marked_1_worship_247_253.index)

index_all_worship.extend(df_marked_1_worship_259_265.index)

index_all_worship.extend(df_marked_1_worship_271_275.index)

index_all_worship.extend(df_marked_1_worship_275_279.index)
index_all_worship.extend(df_marked_2_worship_275_279.index)
index_all_worship.extend(df_marked_3_worship_275_279.index)
index_all_worship.extend(df_marked_4_worship_275_279.index)

In [148]:
# shermon
index_all_shermon = []

index_all_shermon.extend(df_marked_1_shermon_1_65.index)

index_all_shermon.extend(df_marked_1_shermon_247_253.index)

index_all_shermon.extend(df_marked_1_shermon_275_279.index)

index_all_shermon.extend(df_marked_1_shermon_289_294.index)

In [149]:
index_all_shermon

[126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 2265,
 2266,
 2267,
 2268,
 2269,
 2270,
 2271,
 2272,
 2273,
 2274,
 2278,
 2279,
 2460,
 2461,
 2462,
 2463,
 2464,
 2465,
 2580,
 2581,
 2582,
 2583,
 2584,
 2585,
 2586,
 2587,
 2588,
 2589,
 2590,
 2591,
 2592,
 2593,
 2594,
 2595,
 2596,
 2597,
 2598,
 2599]

In [150]:
# Prayer
index_all_prayer = []

index_all_prayer.extend(df_marked_1_prayer_127_188.index)
index_all_prayer.extend(df_marked_2_prayer_127_188.index)
index_all_prayer.extend(df_marked_3_prayer_127_188.index)

index_all_prayer.extend(df_marked_1_prayer_157_188.index)
index_all_prayer.extend(df_marked_2_prayer_157_188.index)

index_all_prayer.extend(df_marked_1_prayer_271_275.index)

In [151]:
# Announcement
df_data_paragraph.loc[df_data_paragraph.index.to_series().apply(lambda x: x in index_all_shermon),'idGenre']="3"
df_data_paragraph.loc[df_data_paragraph.index.to_series().apply(lambda x: x in index_all_prayer),'idGenre']="2"
df_data_paragraph.loc[df_data_paragraph.index.to_series().apply(lambda x: x in index_all_worship),"idGenre"]="4"

In [152]:
# Marked Verse isTrue
df_data_paragraph.loc[df_data_paragraph.index.to_series().apply(lambda x: x in index_all_verses),'isVerse']='True'

In [153]:
# Addition

In [154]:
# Modify data
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Tanya yang muncul ketika banyak berjumpa"),'VALUE']= """Tanya yang muncul ketika banyak berjumpa dengan pemeluk agama lain adalah sesuatu yang wajar. Ini terjadi karena selama ini ada 'jurang yang dalam terutama di kalangan Islam-Kristen. Jurang itu tercipta akibat sejarah kelam masa lalu, di antaranya adalah perang salib  dan sejarah islamisasi-vs-kristenisasi pada jaman penjajah . Semua itu menjadi titik tolak munculnya prasangka-prasangka sampai saat ini. Salah satu prasangka tersebut adalah anggapan bahwa agama Kristen adalah \"agama penjajah\".  Prasangka-prasangka tersebut perlu diudhar atau didialogkan pada masa kini agar kerukunan terjadi antar umat beragama di Indonesia, secara khusus Islam-Kristen."""

In [155]:
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Yoh. 1:14-16 yang menjadi tema Masa Adven"),'VALUE']="""Yoh. 1:14-16 yang menjadi tema Masa Adven-Natal ini dapat menjadi salah satu alternatif jawab atas pertanyaan-pertanyaan semacam itu. Yoh. 1:14 menulis, \"Firman itu telah menjadi manusia dan diam di antara kita\". Artinya, Allah menjelma menjadi manusia melalui firman-Nya. Firman Allah itu adalah Allah sendiri tetapi dalam kodrat ilahi-Nya.  Jadi, yang turun menjadi manusia itu adalah firman Allah, bukan wujud Allah. Kita tidak boleh membayangkan Allah sebagai perwujudan seperti kita manusia. \"Sebab Tuhan adalah Roh; dan di mana ada Roh Allah, di situ ada kemerdekaan\" (2 Kor. 3:17). \"Allah adalah Roh dan barangsiapa menyembah Dia, harus menyembah- Nya dalam roh dan kebenaran\" (Yoh. 4:24). Di dalam pengertian yang seperti itu, 'Firman menjadi manusia' tidak berarti bahwa Firman kemudian kehilangan seluruh atau sebagian keilahian-Nya. \"Inkarnasi tidak pernah mengubah Firman, baik itu sebelum maupun sesudah inkarnasi. Firman menjadi manusia memiliki pengertian bahwa Firman telah mengambil hakikat manusia tanpa mengalami perubahan.\" """

In [156]:
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Di dalam dialog antar iman dengan umat"),"VALUE"]="""Di dalam dialog antar iman dengan umat beragama lain kita dapat menerangkan inkarnasi Allah dengan cara seperti itu. Dengan demikian diharapkan ada pemahaman yang dimengerti bersama antara umat Islam dan Kristen. Ada jembatan untuk saling memahami satu sama lain.  Mengapa? Karena menurut ajaran Islam, Firman Allah turun atau menjelma menjadi kitab (Al Qur'an). Sedangkan dalam iman Kristen, Firman Allah turun atau menjelma menjadi manusia dalam diri Yesus Kristus.  Ia adalah kalimatullah.  Baik Islam maupun Kristen memahami bahwa manusia diselamatkan karena mematuhi Firman Allah itu."""

In [157]:
df_data_paragraph.loc[df_data_paragraph.VALUE.str.contains("Melalui kehadiran Yesus Kristus yang "),"VALUE"]="""Melalui kehadiran Yesus Kristus yang historis kemuliaan Allah (hadiran ilahi) dapat dirasakan (Yoh. 1:14). Allah dapat dijumpai oleh manusia. Allah bukan sesuatu yang abstrak dan bersifat ide. Ia nyata.  \"Di dalam Kristus Yesus, 'jati diri' yang sesungguhnya dari Allah didekatkan kepada manusia (Yoh 1:18).\"  Manusia dapat mengenali seperti apakah Allah itu sebenarnya. Yesus adalah cahaya kemuliaan Allah dan gambar wujud Allah (Ibr. 1:3). Dengan demikian kecenderungan manusia untuk menciptakan konsep sendiri tentang Allah dapat dihindari."""

In [158]:
# Add text that not read at all by Simplify #2
df_data_paragraph.loc[max(df_data_paragraph.index)+1] = ["text","""Perang salib terjadi selama 2 abad, yaitu abad 11-13 atau tahun 1096-1291. (Lihat: Th. van den End & Christian de Jonge, Sejarah Perjumpaan Gereja dan Islam, Jakarta: UPI STT Jakarta, 1997, hal. 72.) Perang ini terjadi antara orang Kristen Eropa dan umat Islam di Timur Tengah. Dinamakan perang salib karena pasukan Kristen pada saat itu menggunakan tanda salib sebagai panji-panji perang. (Lihat: Melvi Yendra, Mira Rainayati, Ensiklopedia untuk Anak-anak Muslim, Bandung: Pustaka Oasis, 2007, hal. 46). Dalam pengalaman penulis mengunjungi beberapa pondok pesantren didapati bahwa Sejarah Perang Salib ini menjadi salah satu topik sejarah yang dipelajari oleh para santri. Sejarah mencatat bahwa di sepanjang abad 15 dan 16 terjadi balapan antara Islamisasi dan Kristenisasi di Nusantara. (Lihat:  Waleed El-Ansary, David L. Linnan, Siti Ruhaini Dzuhayatin, Paripurna P. Sugarda, Harkristuti Harkrisnowo (Ed.), Kata Bersama: Antara Muslim dan Kristen, Yogyakarta: Gajah Mada Unibersity Press, 2019, hal. 142). \"Pada saat itu 'perbenturan' kaum Muslim dengan kekuatan-kekuatan kolonial Eropa sejak dari Portugis, Spanyol, sampai Belanda meningkatkan eksklusivisme Islam. Kedatangan Belanda yang mencakup juga para misionaris Kristen turut mendorong terjadinya konsolidasi dan bahkan intensifikasi identitas Islam. Steenbrink (1995) mengungkapkan dengan baik sekali tentang konflik, mispersepsi, bias dan sebagainya, yang berkembang di kalangan penguasa kolonialis Belanda dan misionaris Kristen terhadap Islam. Semua ini, bisa diduga, tidak kondusif bagi penciptaan kehidupan keagamaan yang rukun, harmonis, saling respek dan penuh toleransi.\" (Lihat: Ibid, hal. 143) \"Perjumpaan umat beragama di Indonesia dilatarbelakangi oleh kondisi sosial-politik. Agama Kristen yang datang ke Indonesia bersamaan dengan datangnya para penjajah (Portugis dan Belanda), meski di beberapa tempat tidak demikian, menyebabkan agama Kristen sering diidentikkan atau dianggap sebagai 'agama penjajah'.\" (Lihat: Chris Hartono, Perjumpaan Gereja di Indonesia dengan dunianya yang sedang berubah, Jakarta: Persetia, 1995, hal. 132) Idi Subandy dan Bachruddin Ali Akhmad, Komunikasi dan Komodifikasi: Mengkaji Media dan Budaya dalam Dinamika Globalisasi, Jakarta: Yayasan Pustaka Obor Indonesia, 2014, hal. 137""","penambahan", "[]", "[]", "[]", "[]","[]","1","False"]

In [159]:
# Add text that not read at all by Simplify #2
df_data_paragraph.loc[max(df_data_paragraph.index)+1] = ["text","""Rifai, Superioritas Kristus dalam Kitab Ibrani: Mengungkap Kitab Ibrani, Sukoharjo: BornWin's Publishing, 2012, hal. 215. Witness Lee, Ekonomi Perjanjian Baru Allah (1), Yayasan Perpustakaan injil Indonesia (Yasperin), 2019. \"Dialog seperti itu tentu diharapkan mendapat tempat yang penting di masa yang akan datang dalam kaitan dengan hubungan antara Islam dan Kristen, yang banyak menjanjikan hal-hal yang kreatif dan konstruktif bagi semua.\" (Pieternella van Doorn-Harder, Kees de jong, Djaka Soetapa (Ed.) Lima Titik Temu Agama-agama, Yogyakarta: Duta Wacana University Press, 2000, hal. 520).""","penambahan", "[]", "[]", "[]", "[]","[]","1","False"]

In [160]:
# Add text that not read at all by Simplify #3
df_data_paragraph.loc[max(df_data_paragraph.index)+1] = ["text","""\"Askari mengusulkan agar kita melihat peran Yesus Kristus sebagai 'tanda bersama' antara Islam dan kristen. Ia menggambarkan Yesus sebagai sosok yang memiliki peran yang sama dengan Qur'an atau Firman Allah yang 'berbicara' dengan manusia.\" (Nicolas Jonathan Woly, Perjumpaan di Serambi Iman: Suatu Studi tentang Pandangan para teolog Muslim dan Kristen mengenai hubungan antaragama, Jakarta: BPK Gunung Mulia, 2008, hal. 519). Pieternella van Doorn-Harder, hal. 38. ""","penambahan", "[]", "[]", "[]", "[]","[]","1","False"]

In [161]:
# Add text that not read at all by Simplify #4
df_data_paragraph.loc[max(df_data_paragraph.index)+1] = ["text","""Bedanya, kita percaya bahwa orang diselamatkan bukan karena memiliki Kitab Suci, tetapi karena memiliki Yesus Kristus, Sang Firman yang menjadi manusia (Yoh. 3:16), yang disaksikan di dalam Alkitab. \"Alkitab memang juga adalah firman Allah, namun bukan dalam pengertian Firman yang diturunkan dari sorga dengan cara didiktekan kata demi kata.\" (Harun Hadiwijono, Kebatinan dan Injil, Jakarta: Gunung Mulia, 2006, hal. 141.). Alkitab tidak sejajar dengan Tuhan Yesus Kristus. (Harun Hadiwiyono, Inilah Sahadatku, Jakarta: BPK Gunung Mulia, 2006, hal. 20). Eddy Kristiyanto, Spiritualitas Sosial: suatu Kajian Kontekstual, Yogyakarta: Kanisius, 2010, hal. 145. Bahasa Yunani yang dipakai untuk kata \"Manusia\" dalam Yoh 1:14 adalah sark (daging). Maksudnya Firman itu mengambil rupa manusia bagi diri-Nya sendiri. Yesus Kristus memiliki kemanusiaan-Nya 100%, tetapi tanpa dosa. Roma 8:3 menuliskan \"Kristus datang dalam daging, serupa dengan daging yang dikuasai dosa karena dosa\".""","penambahan", "[]", "[]", "[]", "[]","[]","1","True"]

In [162]:
df_data_paragraph_urgent = df_data_paragraph.iloc[:,[1,8]].copy()
df_data_paragraph_urgent = df_data_paragraph_urgent.rename(columns={"idGenre": "label_id"}).copy()

# From Bastian

In [163]:
# Load CSV other
from_bastian = pd.read_csv('labeled_man_final.csv')

In [164]:
# Sum picture
from_bastian.loc[from_bastian.TYPE=="CT_Empty"].shape

(111, 12)

In [165]:
from_bastian_not_image = from_bastian.loc[from_bastian.TYPE!="CT_Empty"].copy()

In [166]:
from_bastian_urgent = from_bastian_not_image.iloc[:,[3,10]].copy()
from_bastian_urgent = from_bastian_urgent.reset_index(drop=True).copy()

## Comparasi

In [167]:
df_data_paragraph_urgent.label_id.value_counts()

1    2097
4     283
3     227
2      22
Name: label_id, dtype: int64

In [168]:
from_bastian_urgent.label_id.value_counts()

1    1722
4     531
3     227
2     138
Name: label_id, dtype: int64

### Fix different index and label

In [169]:
df1 = df_data_paragraph_urgent[0:821].copy()
df2 = df_data_paragraph_urgent[822:].copy()

In [170]:
df_gabung=pd.concat([df1,df2]).copy()
df_gabung = df_gabung.reset_index(drop="True").copy()

In [171]:
df1 = df_gabung[0:976].copy()
df2 = df_gabung[977:].copy()

In [172]:
df_gabung=pd.concat([df1,df2]).copy()
df_gabung = df_gabung.reset_index(drop="True").copy()

In [173]:
df1 = df_gabung[0:1196].copy()
df2 = df_gabung[1197:].copy()

In [174]:
df_gabung=pd.concat([df1,df2]).copy()
df_gabung = df_gabung.reset_index(drop="True").copy()

In [175]:
df1 = df_gabung[0:1379].copy()
df2 = df_gabung[1380:].copy()

In [176]:
df_gabung=pd.concat([df1,df2]).copy()
df_gabung = df_gabung.reset_index(drop="True").copy()

In [177]:
df1 = df_gabung[0:1528].copy()
df2 = df_gabung[1529:].copy()

In [178]:
df_gabung=pd.concat([df1,df2]).copy()
df_gabung = df_gabung.reset_index(drop="True").copy()

In [179]:
df1 = df_gabung[0:1788].copy()
df2 = df_gabung[1789:].copy()

In [180]:
df_gabung=pd.concat([df1,df2]).copy()
df_gabung = df_gabung.reset_index(drop="True").copy()

In [181]:
df1 = df_gabung[0:2484].copy()
df2 = df_gabung[2485:].copy()

In [182]:
df_gabung=pd.concat([df1,df2]).copy()
df_gabung = df_gabung.reset_index(drop="True").copy()

In [183]:
df_merge = df_gabung.merge(from_bastian_urgent,how="left",left_on=df_gabung.index.to_series(),right_on=from_bastian_urgent.index.to_series()).copy()

In [184]:
df_merge = df_merge.astype({'label_id_x':'float'}).copy()

In [185]:
df_merge['same'] = df_merge.apply(lambda x: "True" if x['label_id_x'] ==x['label_id_y']  else "False", axis=1)

In [186]:
df_merge.loc[(df_merge.same=="False")&(df_merge.label_id_y==4.0)].iloc[220:390,[1,2,4,5]]

,VALUE_x,label_id_x,label_id_y,same
1801,Dan Bapa di sorga yang Bapaku juga hendak kuse...,1.0,4.0,False
1826,"PKJ 242:1-2 ""Seindah Siang Disinari Terang""",1.0,4.0,False
1827,"1)\tSeindah siang disinari terang, cara Tuhan ...",1.0,4.0,False
1828,"Seindah petang dengan angin sejuk, cara Tuhan ...",1.0,4.0,False
1829,Tuhanku lembut dan penyayang dan aku mengasihi...,1.0,4.0,False
...,...,...,...,...
2470,"Dib'rikan Putra Tunggal-Nya supaya kita lepas,",1.0,4.0,False
2471,supaya kita lepas.,1.0,4.0,False
2472,Reff.:,1.0,4.0,False
2473,"Kar'na g'lap jadi remang pagi, dan remang jadi...",1.0,4.0,False
2474,Kuasa Kristus 'kan nyatalah Rahmani dan cemerl...,1.0,4.0,False

In [187]:
list_index_fix = df_merge.loc[(df_merge.same=="False")&(df_merge.label_id_y==4.0)].iloc[381:390,[1,2,4,5]].index

In [188]:
# Fix different label
df_merge.loc[872:878,'label_id_x']=4.0
df_merge.loc[488:499,'label_id_x']=4.0
df_merge.loc[691:698,'label_id_x']=4.0
df_merge.loc[786:793,'label_id_x']=4.0

In [189]:
df_merge.loc[df_merge.index.to_series().apply(lambda x: x in list_index_fix),'label_id_x']=4.0

### Cek different after fix

In [190]:
df_merge['same'] = df_merge.apply(lambda x: "True" if x['label_id_x'] ==x['label_id_y']  else "False", axis=1)
df_merge.loc[(df_merge.same=="False")].shape

(868, 6)

In [191]:
df_merge_final = df_merge[['VALUE_x','label_id_x','label_id_y']].copy()
df_merge_final = df_merge_final.rename(columns={'VALUE_x':"VALUE"}).copy()

# 0-73 - L

In [192]:
df_data_paragraph_0_73=df_merge_final.loc[0:366].copy()
df_data_paragraph_0_73 = df_data_paragraph_0_73.rename(columns={'label_id_x':'label_id'}).copy()
del df_data_paragraph_0_73['label_id_y']

# 73-126 - B

In [193]:
df_data_paragraph_73_126=df_merge_final.loc[367:577].copy()
df_data_paragraph_73_126 = df_data_paragraph_73_126.rename(columns={'label_id_y':'label_id'}).copy()
del df_data_paragraph_73_126['label_id_x']

# 127-189 - L

In [194]:
df_data_paragraph_127_189 = df_merge_final.loc[578:1378].copy()
df_data_paragraph_127_189 = df_data_paragraph_127_189.rename(columns={'label_id_x':'label_id'}).copy()
del df_data_paragraph_127_189['label_id_y']

# 190 - 234 - B

In [195]:
df_data_paragraph_190_234 = df_merge_final.loc[1379:2154].copy()
df_data_paragraph_190_234 = df_data_paragraph_190_234.rename(columns={'label_id_y':'label_id'}).copy()
del df_data_paragraph_190_234['label_id_x']

# 235-241 - L

In [196]:
df_data_paragraph_235_241 = df_merge_final.loc[2156:2191].copy()
df_data_paragraph_235_241 = df_data_paragraph_235_241.rename(columns={'label_id_x':'label_id'}).copy()
del df_data_paragraph_235_241['label_id_y']

# 242 -246 - B

In [197]:
df_data_paragraph_242_246 = df_merge_final.loc[2192:2245].copy()
df_data_paragraph_242_246 = df_data_paragraph_242_246.rename(columns={'label_id_y':'label_id'}).copy()
del df_data_paragraph_242_246['label_id_x']

# 247-252 - L

In [198]:
df_data_paragraph_247_252 = df_merge_final.loc[2246:2277].copy()
df_data_paragraph_247_252 = df_data_paragraph_247_252.rename(columns={'label_id_x':'label_id'}).copy()
del df_data_paragraph_247_252['label_id_y']

# 253 - 259 - B

In [199]:
df_data_paragraph_253_259 = df_merge_final.loc[2278:2312].copy()
df_data_paragraph_253_259 = df_data_paragraph_253_259.rename(columns={'label_id_y':'label_id'}).copy()
del df_data_paragraph_253_259['label_id_x']

# 260 - 264 - L

In [200]:
df_data_paragraph_260_264 = df_merge_final.loc[2313:2351].copy()
df_data_paragraph_260_264 = df_data_paragraph_260_264.rename(columns={'label_id_x':'label_id'}).copy()
del df_data_paragraph_260_264['label_id_y']

# 265 - 270 - B

In [201]:
df_data_paragraph_265_270 = df_merge_final.loc[2352:2386].copy()
df_data_paragraph_265_270 = df_data_paragraph_265_270.rename(columns={'label_id_y':'label_id'}).copy()
del df_data_paragraph_265_270['label_id_x']

# 271 - 278 - L

In [202]:
df_data_paragraph_271_278 = df_merge_final.loc[2387:2483].copy()
df_data_paragraph_271_278 = df_data_paragraph_271_278.rename(columns={'label_id_x':'label_id'}).copy()
del df_data_paragraph_271_278['label_id_y']

# 279 - 288 - B

In [203]:
df_data_paragraph_279_288 = df_merge_final.loc[2484:2572].copy()
df_data_paragraph_279_288 = df_data_paragraph_279_288.rename(columns={'label_id_y':'label_id'}).copy()
del df_data_paragraph_279_288['label_id_x']

# 289 - 294 - L

In [204]:
df_data_paragraph_289_294 = df_merge_final.loc[2573:2596].copy()
df_data_paragraph_289_294 = df_data_paragraph_289_294.rename(columns={'label_id_x':'label_id'}).copy()
del df_data_paragraph_289_294['label_id_y']

# 295 - selesai - B

In [205]:
df_data_paragraph_295_selesai = df_merge_final.loc[2597:].copy()
df_data_paragraph_295_selesai = df_data_paragraph_295_selesai.rename(columns={'label_id_y':'label_id'}).copy()
del df_data_paragraph_295_selesai['label_id_x']

In [206]:
df_merge_final.shape

(2622, 3)

In [207]:
df_final_bastian_lukas = pd.concat([df_data_paragraph_0_73,df_data_paragraph_73_126,df_data_paragraph_127_189,
                                    df_data_paragraph_190_234,df_data_paragraph_235_241,df_data_paragraph_242_246,
                                    df_data_paragraph_247_252,df_data_paragraph_253_259,df_data_paragraph_260_264,
                                    df_data_paragraph_265_270,df_data_paragraph_271_278,df_data_paragraph_279_288,
                                    df_data_paragraph_289_294,df_data_paragraph_295_selesai
                                   ]).copy()

In [208]:
df_final_bastian_lukas['label']=""

In [209]:
df_final_bastian_lukas.loc[df_final_bastian_lukas.label_id==1.0,'label']="Announcement"
df_final_bastian_lukas.loc[df_final_bastian_lukas.label_id==2.0,'label']="Prayer"
df_final_bastian_lukas.loc[df_final_bastian_lukas.label_id==3.0,'label']="Sermon"
df_final_bastian_lukas.loc[df_final_bastian_lukas.label_id==4.0,'label']="Worships"

In [210]:
df_final_bastian_lukas.loc[df_final_bastian_lukas.label_id.isna(),'label_id']=1.0
df_final_bastian_lukas.loc[df_final_bastian_lukas.label_id==1.0,'label']="Announcement"

## Table

In [211]:
index_all_worship_table = []
index_all_worship_table.extend(df_table_marked_1_worship.index)

index_all_prayer_table =[]
index_all_prayer_table.extend(df_table_marked_1_prayer.index)
index_all_prayer_table.extend(df_table_marked_2_prayer.index)
index_all_prayer_table.extend(df_table_marked_3_prayer.index)

index_all_verse_table =[]
index_all_prayer_table.extend(df_table_marked_1_verse.index)

In [212]:
df_data_table['idGenre']="1"
df_data_table['idVerse']="False"

In [213]:
df_data_table.loc[df_data_table.index.to_series().apply(lambda x: x in index_all_worship_table),'idGenre']="4"

In [214]:
df_data_table.loc[df_data_table.index.to_series().apply(lambda x: x in index_all_prayer_table),'idGenre']="2"

In [215]:
df_data_table = df_data_table.rename(columns={'idGenre':'label_id'}).copy()

## Add data from table type

In [216]:
df_data_table  = df_data_table[['VALUE','label_id']].copy()
df_data_table = df_data_table.astype({'label_id':'float'}).copy()

In [217]:
df_data_table.loc[df_data_table.label_id==1.0,'label']="Announcement"
df_data_table.loc[df_data_table.label_id==2.0,'label']="Prayer"
df_data_table.loc[df_data_table.label_id==3.0,'label']="Sermon"
df_data_table.loc[df_data_table.label_id==4.0,'label']="Worships"

In [218]:
df_final_bastian_lukas = pd.concat([df_final_bastian_lukas,df_data_table])

In [219]:
# Reset index
df_final_bastian_lukas = df_final_bastian_lukas.reset_index()

In [221]:
# # Dumb it
# df_final_bastian_lukas.to_csv('book_natal_labeled_paragraf.csv',index=False)

## Split to sentence

In [221]:
import nltk
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
# Stemming + casefolding + remove punctuation

list_container_data_clean = []

for datas in df_final_bastian_lukas.values: 
    sentences =  nltk.sent_tokenize(datas[1])
    for sen_text in sentences:
        list_data_clean = []
        stemmer = StemmerFactory()
        stemmer_fact = stemmer.create_stemmer()
        result_stemmer = stemmer_fact.stem(sen_text)
        list_data_clean.append(result_stemmer)
        list_data_clean.append(datas[2])
        list_data_clean.append(datas[3])
        list_container_data_clean.append(list_data_clean)

In [222]:
# Convert to Pandas
df_final_sentence_okay = pd.DataFrame(list_container_data_clean, columns =['VALUE', 'label_id','label'])

### Labeling Lukas Label Studiop

In [223]:
# Check size
df_final_sentence_okay.shape

(5274, 3)

In [229]:
## Dumb it
# df_final_sentence_okay.to_csv('book_natal_labeled.csv')

In [224]:
# Divide two 
df_data_lukas = df_final_sentence_okay.loc[0:2636].copy()
df_data_lukas.shape

(2637, 3)

In [225]:
# # Dumb it
# df_data_lukas.to_csv('book_natal_labeled_lukas.csv')

In [226]:
df_data_bastian = df_final_sentence_okay.loc[2637:].copy()
df_data_bastian.shape

(2637, 3)

In [227]:
# # Dumb it
# df_data_bastian.to_csv('book_natal_labeled_bastian.csv')

## Data cleaning

In [226]:
# casefolding
simple_teks['cleaned_data'] = simple_teks['VALUE'].str.lower()
song_teks['cleaned_data'] = song_teks['VALUE'].str.lower()

NameError: name 'simple_teks' is not defined

In [ ]:
# Remove punctuation, url, \t\b
import re 
import string

simple_teks['cleaned_data'] = simple_teks['cleaned_data'].apply(lambda x: re.sub("https?:\/\/.*[\r\n]*", "", x))
simple_teks['cleaned_data'] = simple_teks['cleaned_data'].apply(lambda x: re.sub(r'[^\w\s]', "", x))
simple_teks['cleaned_data'] = simple_teks['cleaned_data'].apply(lambda x: re.sub('\\s+', ' ', x))
simple_teks['cleaned_data'] = simple_teks['cleaned_data'].apply(lambda x: '' .join((z for z in x if not z.isdigit())))

song_teks['cleaned_data'] = song_teks['cleaned_data'].apply(lambda x: re.sub("https?:\/\/.*[\r\n]*", "", x))
song_teks['cleaned_data'] = song_teks['cleaned_data'].apply(lambda x: re.sub(r'[^\w\s]', "", x))
song_teks['cleaned_data'] = song_teks['cleaned_data'].apply(lambda x: re.sub('\\s+', ' ', x))
song_teks['cleaned_data'] = song_teks['cleaned_data'].apply(lambda x: '' .join((z for z in x if not z.isdigit())))

In [ ]:
song_teks

In [ ]:
simple_teks

In [ ]:
# # Dumb two sampel
# song_teks_clean = song_teks['cleaned_data']
# simple_teks_clean = simple_teks['cleaned_data']

# simple_teks_clean.to_csv('sample_simple_teks_clean.csv', index=False)
# song_teks_clean.to_csv('sample_song_teks_clean.csv', index=False)

## Weighting term - Word2Vec